# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

dist/
.venv/

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

src/slowhand/VERSION
